@import url('normalize.css');

body {
	font-size: 16px;
	font-family: 'Myriad Pro';
	color: #5f727f;
	margin-top: 60px;

}

section {
	width: 390px;

}

.section-basic {
	float: left;
	position: relative;

}

.circle {
	font-family: 'Source Sans Pro', sans-serif;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
}

.section-basic div.circle p {
	font-size: 32px;
	color: #08cde7;
	line-height: 30px;
}

.section-basic div.circle span {
	color: #5f727f;
	font-size: 16px;
}

.section-basic header {
	background-color: #00bcd4;
	color: #fff;
	padding-left: 45px;
	height: 272px;
/*	line-height: 55px;
	font-family: ; */
}

.section-basic header div.title {
	font-size: 36px;
	padding-top: 145px;
	font-variant: small-caps;
	line-height: 0px;
}

/* div.title h3 {
	font-weight: bold;
}  dung chung cho ca 3 section */

.section-basic article div.title {
	height: 99px;
	padding-left: 45px;
	line-height: 6px;
}

div.title h4 {
	font-size: 26px; /* dung chung cho ca 3 section */
}

article div.title p {
	font-size: 14px; /* dung chung cho ca 3 section */
}
/* div p {
	font-size: 14px;
	padding-left: 45px;
} */

article div ul {
	padding-left: 0px;
	line-height: 50px;
}

ul li {
	height: 50px;
	list-style-type: none;
	padding-left: 45px;
}

ul li:nth-child(odd) {
	background-color: #f4f6f7;
}

ul li::before {
	font-family: 'FontAwesome';
	content: "\f14a";
}

.section-basic .circle {
	background-color: #393d50;
	left: 45px;
	top: -60px;
	
}

.section-advanced {
	float: left;
	position: relative;

}

.section-advanced .circle {
	background-color: #393d50;
	left: 45px;
	top: -60px;

}

.section-advanced div.circle p {
	font-size: 32px;
	color: #1e8bc0;
	line-height: 30px;
}

.section-advanced div.circle span {
	color: #5f727f;
	font-size: 16px;
}

.section-advanced img {
	position: absolute;
	left: 145px;
	top: -30px;
}

.section-advanced header {
	background-color: #1c94ca;
	color: #fff;
	padding-left: 45px;
	height: 272px;
/*	line-height: 55px;
	font-family: ; */
}

.section-advanced header div.title {
	font-size: 36px;
	padding-top: 108px;
	font-variant: small-caps;
	line-height: 0px;
}

.section-advanced article div.title {
	height: 99px;
	padding-left: 45px;
	line-height: 6px;
}

.section-life {
	float: left;
	position: relative;

}

.section-life .circle {
	background-color: #2c2e3d;
	left: 45px;
	top: -60px;

}

.section-life div.circle p {
	font-size: 32px;
	color: #8375d7;
	line-height: 30px;
}

.section-life div.circle span {
	color: #5f727f;
	font-size: 16px;
}

.section-life header {
	background-color: #7264bd;
	color: #fff;
	padding-left: 45px;
	height: 272px;
}

.section-life header div.title {
	font-size: 36px;
	padding-top: 145px;
	font-variant: small-caps;
	line-height: 0px;
}

.section-life article div.title {
	height: 99px;
	padding-left: 45px;
	line-height: 6px;
}

footer {
	height: 147px;
}

button {
	font-family: 'Montserrat', sans-serif;
	background-color: #b6c6c9;
	color: #fff;
	border: none;
	font-size: 19px;
	text-align: center;
	font-variant: small-caps;
	border-radius: 30px;
	margin-top: 48px;
	margin-left: 45px;
	width: 150px;
	height: 50px;
}

button:hover {
	background-color: #2c2e3d;
}

article, footer {
	border-right: 1px solid #dfe5e8;
}
/* .section-life .circle {
	background-color: #393d50;
	left: 45px;
	top: -60px;
} */